#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "bitwarden-cli"
     "curl"
     "exa"
     "gh"
     "jq"
     "poetry"
     "ripgrep"
     "starship"
     "terraform" -}}
{{ $casks := list
     "alacritty"
     "espanso"
     "google-chrome"
     "google-cloud-sdk"
     "firefox"
     "font-fira-code-nerd-font"
     "fork"
     "git-credential-manager-core"
     "hiddenbar"
     "itsycal"
     "rectangle"
     "the-unarchiver"
     "visual-studio-code"
     "vlc" -}}

{{ if .personal -}}
{{   $brews = concat $brews (list
       "go"
       "rust") -}}
{{   $casks = concat $casks (list
       "gog-galaxy"
       "ledger-live"
       "steam"
       "transmission"
       "vpn-by-google-one"
       "whatsapp") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
